resolver ${NGINX_LOCAL_RESOLVERS} valid=10s;

server {
    listen ${PORT};
    server_name _;
    root /usr/share/nginx/html;

    location /api/ {
        set $api_upstream ${API_URL};
        rewrite ^/api/(.*)$ /$1 break;
        proxy_pass $api_upstream;
        proxy_ssl_server_name on;
        proxy_set_header Host $proxy_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location ~* \.(?:js|css|woff2?|svg|png|ico)$ {
        expires 1y;
        add_header Cache-Control "public, immutable";
        try_files $uri =404;
    }

    location / {
        add_header Cache-Control "no-cache";
        try_files $uri $uri/ /index.html;
    }
}
